dist
build
coverage
node_modules*
configs*
.vscode*
images
serviceWorker.ts

.gitignore
.dockerignore
.eslintignore
.eslintrc.build
.huskyrc
.commitlint.config.js
.lintstagedrc
package-lock.json
Dockerfile

webpack

.env
default.env

*.md
*.log
*.lock
*.yml
*.sh
*.conf
*.png
*.svg
*.ico
*.txt
*.css

!**/.eslintrc*